@import "tailwindcss";
@import "./themes/catppuccin-mocha.css";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "catppuccin-mocha";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: var(--ctp-mocha-base);
  --color-base-200: var(--ctp-mocha-mantle);
  --color-base-300: var(--ctp-mocha-crust);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: hsl(234 13% 31%);
  --color-primary-content: hsl(226deg, 64%, 88%);
  --color-secondary: var(--ctp-mocha-mauve);
  --color-secondary-content: var(--ctp-mocha-base);
  --color-accent: var(--ctp-mocha-blue);
  --color-accent-content: var(--ctp-mocha-base);
  --color-neutral: hsl(237deg, 16%, 23%);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: hsl(217deg, 92%, 76%);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: hsl(115deg, 54%, 76%);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: hsl(23deg, 92%, 75%);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: hsl(343deg, 81%, 75%);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background: var(--ctp-mocha-base) !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --code-background: var(--ctp-mocha-base);
}

html, body {
  scrollbar-width: thin;
  scrollbar-color: #89b4fa #181825;
}

body {
  background-color: var(--ctp-mocha-base);
}

.file-icon {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.file-icon.c-fnt:hover {
  filter: drop-shadow(0 0 2em #fab387);
}

.file-icon.lua:hover {
  filter: drop-shadow(0 0 2em #89b4fa);
}

button {
  cursor: pointer;
}

.icon-xs {
  stroke-width: 1.5;
  flex-shrink: 0;
  height: .75rem;
  width: .75rem;
}

h1 {
  text-align: center;
}

a:hover {
  color: var(--ctp-mocha-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
  }

  pre.shiki.catppuccin-mocha {
    background-color: transparent !important;
  }
}
